html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: normal;
  font-size: 3rem; }

#map-wrapper {
  height: 60vh;
  width: 100vw; }

#list-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around; }
  #list-wrapper .country-list {
    width: 45vw;
    height: 40vh;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    #list-wrapper .country-list h2 {
      text-align: center;
      font-weight: normal;
      display: inline; }
    #list-wrapper .country-list select {
      font-family: "Roboto", sans-serif;
      border: 1px solid #9BC1BC;
      align-self: center;
      font-size: 1rem; }
    #list-wrapper .country-list ul {
      list-style: none;
      margin: 2rem; }
    #list-wrapper .country-list img {
      display: inline;
      align: right;
      width: 35px;
      height: 35px; }

#info-box img {
  height: 50px; }

#next-trip {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  background-color: #ED6A5A; }
  #next-trip #next-trip-info ul {
    list-style: none; }
  #next-trip #next-trip-info img {
    height: 50px; }
  #next-trip #next-trip-schedule ul {
    list-style: none; }

#schedules {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  justify-content: flex-start;
  flex-wrap: wrap; }
  #schedules ul {
    min-width: 20vw;
    max-width: 30vw;
    list-style: none;
    background-color: #5CA4A9;
    padding: 1.5rem 1rem;
    margin: 0.5rem; }
