html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem;
  margin-top: 1rem; }
  header #nav-title {
    flex: 2;
    display: flex;
    flex-direction: column; }
    header #nav-title nav ul {
      list-style: none;
      padding: 0; }
      header #nav-title nav ul li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.25rem; }
  header .next-trip-schedule {
    flex: 1;
    flex-direction: column;
    max-width: 25vw;
    width: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #62929E;
    padding-left: 2rem;
    border-radius: 10px; }
    header .next-trip-schedule h2 {
      margin: 0;
      font-weight: normal; }
    header .next-trip-schedule p {
      margin: 0;
      padding: 0; }

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 3rem;
  margin: 1rem 0; }

h2 {
  margin-top: 0; }

button, #submit-note {
  margin: 0 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: none;
  border: 1px solid #62929E;
  padding: 0.5rem 1rem; }

button:hover {
  background-color: #62929E;
  transition-duration: 0.5s;
  color: white; }

a {
  color: #9DD9D2;
  text-decoration: none; }

a:visited {
  color: #9DD9D2; }

a:hover {
  color: #62929E;
  transition-duration: 0.5s; }

.hidden {
  display: none; }

#map-wrapper {
  height: 60vh;
  width: 100vw; }

#list-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  justify-content: space-around; }
  #list-wrapper .country-list {
    width: 45vw;
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    #list-wrapper .country-list h2 {
      text-align: center;
      font-weight: normal;
      display: inline; }
    #list-wrapper .country-list select {
      font-family: "Roboto", sans-serif;
      border: 1px solid #4A6D7C;
      align-self: center;
      font-size: 1rem; }
    #list-wrapper .country-list ul {
      list-style: none;
      margin: 2rem; }
    #list-wrapper .country-list img {
      display: inline;
      align: right;
      width: 35px;
      height: 35px; }

#visited-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; }

#to-visit-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; }

#next-trip {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  background-color: #9DD9D2; }

#schedules {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  justify-content: flex-start;
  flex-wrap: wrap; }
  #schedules h2 {
    width: 100%;
    font-weight: normal;
    margin-top: 2rem;
    margin-right: 0.5rem;
    text-align: center; }
  #schedules form {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.5rem; }
    #schedules form label {
      padding-left: 1.5rem;
      padding-right: 1rem;
      display: flex;
      align-items: center; }
    #schedules form select {
      font-family: "Roboto", sans-serif;
      border: 1px solid #4A6D7C;
      font-size: 1rem; }
    #schedules form input {
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #4A6D7C; }
  #schedules #input-error {
    width: 100%;
    text-align: center;
    color: red; }
  #schedules ul {
    min-width: 20vw;
    max-width: 30vw;
    list-style: none;
    border: 1px solid #62929E;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    margin: 0.5rem; }

#schedule-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem 10rem;
  justify-content: space-around; }
  #schedule-wrapper #schedule h2 {
    font-weight: normal; }
  #schedule-wrapper #schedule-info-box img {
    height: 100px;
    border: 1px solid #62929E; }
  #schedule-wrapper #schedule-info-box ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #schedule-wrapper #schedule-info-box ul ul {
      margin-left: 1rem; }

#note-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center; }
  #note-wrapper textarea {
    font-size: 1rem; }
