@import "_global_variables";

#list-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 $small-gap;
  justify-content: space-around;

  .country-list {
    width: 45vw;
    margin: $large-gap*2 $large-gap;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    h2 {
      text-align: center;
      font-weight: normal;
      display: inline;
    }

    select {
      font-family: $content-font;
      border: 1px solid $secondary-colour;
      align-self: center;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      margin: $large-gap;
    }

    img {
      display: inline;
      align: right;
      width: 35px;
      height: 35px;
    }


  }


}


#visited-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $small-gap;
  }

}

#to-visit-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $small-gap;

  }

}
