//Fonts
$header-font: "Noto Serif", serif;
$content-font: "Roboto", sans-serif;

//Colours
$primary-colour: #5CA4A9;
$secondary-colour: #9BC1BC;
$accent-colour: #ED6A5A;


//Padding
$small-gap: 1rem;
$medium-gap: 1.5rem;
$large-gap: 2rem;
