//Fonts
$header-font: "Playfair Display", serif;
$content-font: "Roboto", sans-serif;

//Colours
$primary-colour: #62929E;
$secondary-colour: #4A6D7C;
$accent-colour: #9DD9D2;


//Padding
$small-gap: 1rem;
$medium-gap: 1.5rem;
$large-gap: 2rem;
