@import "_global_variables";

#next-trip {
  display: flex;
  flex-direction: row;
  padding: $small-gap;
  justify-content: space-around;
  background-color: $accent-colour;


  #next-trip-info {
    ul {
      list-style: none;
    }
    img {
      height: 50px;
    }
  }

  #next-trip-schedule {
    ul {
      list-style: none;
    }
  }
}

#schedules {
  display: flex;
  flex-direction: row;
  margin: $medium-gap;
  justify-content: flex-start;
  flex-wrap: wrap;

  form {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;

    label {
      padding-left: $medium-gap;
      padding-right: $small-gap;
      display: flex;
      align-items: center;

    }

    select {
      font-family: $content-font;
      border: 1px solid $secondary-colour;
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      font-family: $content-font;
      text-align: center;
      border-radius: 10px;
      border:1px solid $secondary-colour;
    }

  }

  ul {
    min-width: 20vw;
    max-width: 30vw;
    list-style: none;
    background-color: $primary-colour;
    padding: $medium-gap $small-gap;
    margin: 0.5rem;
  }
}
